{
    "default": {
      "https": true,
      "apiHost": "api.dev.d-n-a.cn",
      "cdn": "example.com",
      "bucket": "example-bucket",
      "region": "example-region"
    },
    "connect": {
      "host": "localhost",
      "port": 8080
    }
  }
